In [1]:
##import library yang dibutuhkan
import pandas as pd
from sklearn.cluster import KMeans

In [9]:
## Membaca dataset dari file CSV
## Sumber : https://semarangkab.bps.go.id/indicator/34/357/1/jumlah-kejahatan-yang-dilaporkan.html
data = pd.read_csv('index.csv')

## menampilkan informasi dari dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   .Kecamatan  19 non-null     object
 1   .2018       19 non-null     int64
 2   .2019       19 non-null     int64
 3   .2020       19 non-null     int64
dtypes: int64(3), object(1)
memory usage: 736.0+ bytes

In [10]:
## memampilkan isi dari dataset
data.head()

  .Kecamatan  .2018  .2019  .2020
0    Getasan     13     14      7
1   Tengaran     15     14      9
2    Susukan     20     10      2
3  Kaliwungu      2      3      1
4      Suruh      8      7      6

In [16]:
## Mengambil kolom jumlah kejahatan yang terlapor,
## pada tahun 2018, 2019, 2020
tahun = data.iloc[:, 1:4]
tahun.head()

   .2018  .2019  .2020
0     13     14      7
1     15     14      9
2     20     10      2
3      2      3      1
4      8      7      6

In [13]:
# Konversi data ke dalam format array
tahun_array = tahun.values

In [14]:
# Menentukan jumlah klaster
k = 3

In [15]:
# Melakukan proses clustering dengan k-means
kmeans = KMeans(n_clusters=k, random_state=0).fit(tahun_array)

In [17]:
# Menambahkan kolom "Klaster" ke dalam dataset
data['Klaster'] = kmeans.labels_

In [18]:
# Menentukan nilai klaster
nilai_k = {0: "Tinggi",1: "Sedang", 2: "Rendah"}

In [19]:
# Mengganti nilai klaster dalam dataset dengan label yang sesuai
data['Klaster'] = data['Klaster'].map(nilai_k)

In [21]:
# Menampilkan hasil kluster
print(data[['.Kecamatan', 'Klaster']])

       .Kecamatan Klaster
0         Getasan  Sedang
1        Tengaran  Sedang
2         Susukan  Sedang
3       Kaliwungu  Sedang
4           Suruh  Sedang
5         Pabelan  Sedang
6         Tuntang  Tinggi
7       Banyubiru  Sedang
8           Jambu  Sedang
9        Sumowono  Sedang
10       Ambarawa  Tinggi
11      Bandungan  Tinggi
12          Bawen  Tinggi
13        Bringin  Sedang
14         Bancak  Sedang
15      Pringapus  Tinggi
16         Bergas  Rendah
17  Ungaran Barat  Tinggi
18  Ungaran Timur  Sedang